/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure, 
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  font-weight: bold;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Starter */
body{
  text-align: center;
}
header{
  padding: 1em;
  border-bottom: 3px solid black;
}
button{
  display: block;
  margin-inline: auto;
  margin-block: 1em; 
  padding: .6em 2em;
  font-weight: bolder;
  font-family: sans-serif;

}
#sliderMain{
  width: 100%;
}
.container{
    max-width: 1100px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100vh;
}
.grid{
    width: 600px;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(16, 1fr);
    border: 2px solid black;
}
.grid-element{
  border: 2px solid white;
  transition: .3s ease-in-out;
}
.block{
    border: .5px solid black;
}
.slider{
    text-align: center;
}